@charset "UTF-8";
@import "common";
/*内容区*/
a{
    text-decoration: none;
}
.content{
    padding: 110px 0;
    /*左侧内容区*/
    .content-left{
        float: left;
        padding-left: 50px;
    }
/*右侧输入区域*/
    .content-right{
       color: #666;
       width: 400px;
       border: 1px solid #ececec;
       border-top: 2px solid #ff4965;
       .form-style{
           padding: 50px 35px;
       }
       .login-title{ 
           font-size: 12px;
           color: #000;
           margin-bottom: 30px;
           .login{
              font-size: 14px;
              font-weight: 700;
           }
           .register{
               font-weight: 400;
               a{
                   color: #ff4965;
               }
           }
       }
       .login-content{
           margin-top: 15px;
           .tel{
               display: block;
               border: 1px solid #e6e6e6;
               border-radius: 2px;
               padding-left: 30px;
               position: relative;
               .telphone{
                   height: 30px;
                   font-size: 12px;
                   width: 278px;
                   color: #666;
                   line-height: 30px;
                   border: 0;
                   outline: 0;
                   padding: 0 10px;
                   
               }
               .touxiang{
                   position: absolute;
                   left: 8px;
                   top: 8px;
                   border-right: 1px solid #e6e6e6;
                   padding-right: 7px;
               }
           }
           .passw{
               margin-top: 15px;
               display: block;
               border: 1px solid #e6e6e6;
               border-radius: 2px;
               padding-left: 30px;
               position: relative;
               .mima{
                  position: absolute;
                  left: 8px;
                  top: 8px;
                  border-right: 1px solid #e6e6e6;
                  padding-right: 7px; 
               }
               .password{
                   height: 30px;
                   font-size: 12px;
                   width: 278px;
                   color: #666;
                   line-height: 30px;
                   border: 0;
                   outline: 0;
                   padding: 0 10px;
                  
               }
           }
       }
       .slide{
           margin-top: 15px;
           width: 278px;
           height: 30px;
       }
       .question{
           margin-top: 15px;
           .autologin{
               vertical-align: middle;
           }
           a{
               color: #ff4965;
           }
       }
       .login-btn{
           margin-top: 15px;
           a{
               color: #fff;
               background: #ff4965;
               display: block;
               height: 32px;
               line-height: 32px;
               border-radius: 3px;
               text-align: center;
               font-size: 14px;
               letter-spacing: 6px;
           }
       }
       .quicklogin{
           margin-top: 15px;
           height: 24px;
           line-height: 24px;
           a{
               display: block;
               width: 24px;
               height: 24px;
               margin: 0 4px;
           }
           .bgqq{
               background: url(../img/764d876bb3aa326726486d71ee891b66_173x24.png) no-repeat 1px 0;
           }
           .bgweixing{
               background: url(../img/764d876bb3aa326726486d71ee891b66_173x24.png) no-repeat -119px 0;
           }
       }
    }
}
/*页面底部*/
@import "footer";
