@charset "UTF-8";
/*顶部*/
body {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f2f4f6;
}

div,
i,
span,
body,
a,
html,
li,
ul,
img,
strong, em {
  padding: 0;
  margin: 0;
  font-style: normal;
}

.wrapper {
  width: 1080px;
  position: relative;
  margin: 0 auto;
}
.wrapper:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

a {
  color: #555;
  text-decoration: none;
}

li {
  list-style: none;
}

.fontsize {
  font-size: 20px;
}

.fontcolor {
  color: #666;
}

.s1 {
  float: left;
}

/*顶部导航*/
.top {
  width: 100%;
  height: 28px;
  background: #f4f4f4;
  border-bottom: 1px #e8e8e8 solid;
}
.top ul {
  float: right;
  line-height: 28px;
  list-style: none;
}
.top ul .border {
  margin: 7px 0;
  height: 15px;
  width: 1px;
  background: #ddd;
}
.top ul .default {
  display: block;
}
.top ul .bgchange {
  border: 1px solid #F4F4F4;
}
.top ul .bgchange .dropdown-list {
  display: none;
  z-index: 1000;
  font-size: 12px;
  position: absolute;
  left: -1px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-top: 0;
  background: #FFFFFF;
}
.top ul .bgchange .dropdown-list li {
  float: none;
  margin: 0;
  text-align: left;
}
.top ul .bgchange:hover {
  background: #fff;
  border: 1px solid #ddd;
}
.top ul .bgchange:hover .dropdown-list {
  display: block;
}
.top ul .guanzhu .change {
  width: 200px;
  top: 22px;
  left: -80px;
}
.top ul .guanzhu .change .ul_right {
  float: left;
  width: 45px;
  margin-top: 28px;
  margin-left: 10px;
}
.top ul .guanzhu .change .ul_right li {
  text-align: center;
}
.top ul .guanzhu .change .ul_left {
  float: left;
  width: 135px;
  border-right: 1px dotted #cdcbce;
  margin: 8px 0;
}
.top ul .guanzhu .change .ul_left li {
  color: #666;
  text-align: center;
}
.top ul li {
  float: left;
  vertical-align: top;
  margin: 0 12px;
  text-align: center;
  position: relative;
}
.top ul li .pink {
  color: #ff5482;
}
.top ul li a:hover {
  text-decoration: underline;
}

/*头部导航*/
.header {
  position: relative;
  background: #FFFFFF;
  height: 90px;
}
.header .logo {
  position: relative;
}
.header .logo img {
  margin-top: 15px;
}
.header .logo .logo-link {
  width: 250px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
}
.header .logo-slogan {
  width: 390px;
  height: 40px;
  background: url(../img/upload_ae75f583dcb3536e115449a11bde5434_390x40.png);
  position: absolute;
  left: 525px;
  top: 25px;
}
.header .logo-slogan a {
  display: block;
  width: 390px;
  height: 40px;
}
.header .nav-cart {
  height: 34px;
}
.header .nav-cart .cart-box {
  width: 340px;
  background: #fff;
  border: 1px solid #ff5482;
  z-index: 1000;
  position: absolute;
  top: 60px;
  right: 8px;
  color: #000;
}
.header .nav-cart .cart-box .box-footer {
  height: 47px;
  border-top: 1px solid #e3e3e3;
  background: #fff9fb;
}
.header .nav-cart .cart-box .box-footer .jiage {
  font-size: 13px;
  color: #666;
  padding: 10px 15px;
  position: absolute;
}
.header .nav-cart .cart-box .box-footer .jiage span {
  color: #e53363;
  font-size: 18px;
}
.header .nav-cart .cart-box .box-footer .cart-input a {
  background: #ff5482;
  padding: 4px 12px;
  font-size: 13px;
  color: #FFFFFF;
  border-radius: 4px;
  border-width: 1px 1px 2px;
  border-style: solid;
  border-color: #fa3c70 #ff3c70 #e53363;
  float: right;
  margin-right: 15px;
  margin-top: 6px;
  height: 24px;
  width: auto;
  line-height: 24px;
}
.header .nav-cart .cart-box li {
  height: 60px;
  padding: 12px;
  border-bottom: 1px dotted #bebab7;
}
.header .nav-cart .cart-box li a {
  color: #3E3E3E;
}
.header .nav-cart .cart-box li .shop-title {
  position: absolute;
  left: 0px;
  top: 15px;
  padding: 0px 10px 0px 80px;
  line-height: 1.2em;
  height: 30px;
  overflow: hidden;
  font-size: 13px;
  margin: 0px;
  width: 50%;
  z-index: 3;
}
.header .nav-cart .cart-box li .color {
  position: absolute;
  color: #aaa;
  left: 0px;
  top: 52px;
  padding: 0px 10px 0px 80px;
  line-height: 1.2em;
  height: 14px;
  overflow: hidden;
  font-size: 12px;
  margin: 0px;
  width: 50%;
}
.header .nav-cart .cart-box li .price {
  position: absolute;
  color: #ff5482;
  right: 15px;
  top: 25px;
  overflow: hidden;
  font-size: 16px;
  padding-left: 80px;
  margin: 0px;
  width: 30%;
  line-height: 1em;
  text-align: right;
}
.header .nav-cart .cart-box li .price .num {
  color: #888;
  font-size: 13px;
}
.header .nav-cart .cart-box li img {
  border: 2px solid #ccc;
  background: #FFFFFF;
  padding: 2px;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 4;
}
.header .nav-cart .top-cart {
  height: 34px;
  position: absolute;
  left: 947px;
  top: 28px;
  background: #ff647c;
  border-radius: 10px;
}
.header .nav-cart .top-cart .border-iconfont {
  position: absolute;
  left: -18px;
  border: 2px solid #fff;
  height: 32px;
  width: 32px;
  line-height: 30px;
  text-align: center;
  border-radius: 18px;
  background: #444;
  color: #fff;
  top: -1px;
}
.header .nav-cart .top-cart .border-iconfont .iconfont {
  font-size: 16px;
}
.header .nav-cart .top-cart span {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 34px;
  padding: 0 12px 0 24px;
}
.header .nav-cart .top-cart span .iconfont {
  font-size: 13px;
  vertical-align: 1px;
  margin-left: 4px;
}

/*页面导航*/
.hide {
  display: none;
}

.show {
  display: block;
}

.nav {
  z-index: 300;
  height: 38px;
  background: #FF647C;
  position: relative;
}
.nav .nav-title {
  float: left;
  line-height: 38px;
  list-style: none;
}
.nav .nav-title li {
  float: left;
  font-size: 15px;
  width: 95px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.nav .nav-title li:hover {
  background: #F34660;
}
.nav .nav-title li a {
  color: #FFFFFF;
}
.nav .nav-title .i-style i {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 27px;
  height: 18px;
  background: url(../img/upload_829e7d60f494bb7159132f6c5181c30b_54x36.png) no-repeat;
  background-size: 100%;
}
.nav .nav-title .current {
  background: #f34660;
}
.nav .nav-title .current:hover {
  background: #F34660;
}
.nav .ul-right {
  float: right;
  display: flex;
  line-height: 38px;
}
.nav .ul-right div {
  padding-right: 5px;
  color: #FFFFFF;
  cursor: pointer;
}
.nav .ul-right .position-box {
  position: relative;
}
.nav .ul-right .position-box .search {
  outline: 0;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  height: 26px;
  line-height: 26px;
  width: 200px;
  padding: 0 5px;
  font-size: 12px;
  color: #666;
}
.nav .ul-right .position-box i {
  position: absolute;
  top: -2px;
  right: 10px;
  color: #afafaf;
  font-size: 17px;
}
.nav .ul-right .position-box i:hover {
  color: #ff4965;
}
.nav .btn-cat {
  position: absolute;
  right: 139px;
  top: 38px;
  width: 490px;
  height: 524px;
  background: #f9f9f9;
  border: 1px solid #ececec;
  overflow: hidden;
}
.nav .btn-cat .bt-cate {
  width: 110px;
}
.nav .btn-cat .bt-cate li {
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #666;
  cursor: pointer;
}
.nav .btn-cat .bt-cate .current {
  background-color: #fff;
  border-right: 1px solid #fff;
  color: #ff4965;
}
.nav .bn-con {
  width: 390px;
  margin-left: 110px;
  border-left: 1px solid #ececec;
}
.nav .bn-con ul {
  position: absolute;
  top: 0px;
  background: #fff;
  height: 524px;
}
.nav .bn-con ul li {
  text-align: center;
  padding: 15px 14px 0 14px;
  float: left;
  width: 60px;
  height: 93px;
  border-right: 1px dashed #ececec;
  border-bottom: 1px dashed #ececec;
  overflow: hidden;
  cursor: pointer;
}
.nav .bn-con ul li a {
  color: #666;
}
.nav .bn-con ul li a:hover {
  color: #ff506b;
}

/*内容区*/
.common {
  margin: 15px 0 15px 35px;
  font-size: 13px;
  position: relative;
  color: #777;
}

.common label {
  line-height: 20px;
  width: 65px;
  height: 20px;
  margin-left: 10px;
  text-align: right;
  color: #888;
  float: left;
}

#content {
  margin-top: 20px;
}
#content .detail-title {
  margin: 0 5px 10px;
  color: #999999;
}
#content .detail-title a {
  color: #999999;
}
#content .detail-content {
  height: 610px;
  background: #FFFFFF;
  margin-bottom: 20px;
  /*放大镜区域*/
  /*商品详情介绍*/
}
#content .detail-content .slide-wrap {
  width: 500px;
  height: 610px;
  padding: 0 20px;
  float: left;
}
#content .detail-content .slide-wrap #spic {
  width: 479px;
  height: 479px;
  padding: 20px 0;
  position: relative;
}
#content .detail-content .slide-wrap #spic img {
  width: 458px;
  border: 1px solid #dfdfdf;
}
#content .detail-content .slide-wrap #spic #sf {
  position: absolute;
  width: 229px;
  height: 229px;
  top: 0px;
  left: 0px;
  background: url(../img/mask.png) repeat scroll 0 0;
  z-index: 1;
  cursor: move;
}
#content .detail-content .slide-wrap #ulist {
  width: 460px;
  height: 85px;
}
#content .detail-content .slide-wrap #ulist #list {
  width: 340px;
  height: 85px;
  margin: 0 auto;
  overflow: hidden;
}
#content .detail-content .slide-wrap #ulist li {
  width: 60px;
  height: 60px;
  padding: 6px;
  float: left;
  margin: 0 4px;
  border: 2px solid #dfdfdf;
}
#content .detail-content .slide-wrap #ulist li img {
  width: 60px;
}
#content .detail-content .slide-wrap #ulist .b-color {
  border: 2px solid #ff5482;
}
#content .detail-content .slide-wrap #bf {
  position: absolute;
  top: 50px;
  left: 490px;
  width: 400px;
  height: 400px;
  display: block;
  overflow: hidden;
  z-index: 1000;
}
#content .detail-content .slide-wrap #bf img {
  position: absolute;
  left: 0;
  top: 0;
  width: 800px;
  height: 800px;
}
#content .detail-content .main-wrapper {
  width: 548px;
  margin-left: 480px;
  padding: 25px;
}
#content .detail-content .main-wrapper .detail {
  font-weight: 400;
  color: #333;
}
#content .detail-content .main-wrapper .detail .font-style {
  font-size: 20px;
}
#content .detail-content .main-wrapper .price-show {
  width: 575px;
  height: 80px;
  color: #FFFFFF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #fe4a7a;
  position: relative;
}
#content .detail-content .main-wrapper .price-show div {
  font-size: 13px;
  position: relative;
  top: 20px;
  display: inline;
  float: left;
  height: 36px;
  padding: 0 18px;
  text-align: center;
}
#content .detail-content .main-wrapper .price-show .now-price {
  font-size: 55px;
  line-height: 80px;
  top: 0;
  width: 210px;
  height: 80px;
}
#content .detail-content .main-wrapper .price-show .now-price em {
  font-size: 24px;
}
#content .detail-content .main-wrapper .price-show .discount-price {
  border-right: 1px dashed #f989a7;
  border-left: 1px dashed #f989a7;
}
#content .detail-content .main-wrapper .price-show .line {
  position: absolute;
  top: 0;
  right: -5px;
  width: 5px;
  height: 88px;
  padding: 0;
  background: url(../img/price-info-line.png) no-repeat;
}
#content .detail-content .main-wrapper .sale-attr {
  padding: 15px 0 0;
  border: 3px solid #eee;
  border-top: none;
}
#content .detail-content .main-wrapper .sale-attr ul {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  position: absolute;
  top: -7px;
}
#content .detail-content .main-wrapper .sale-attr ul li {
  line-height: 20px;
  position: relative;
  float: left;
  margin: 0 4px 4px 0;
  padding: 1px;
  vertical-align: middle;
  background: #fff;
}
#content .detail-content .main-wrapper .sale-attr ul li a {
  float: left;
  padding: 2px 11px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  border: 1px solid #b8b7bd;
  background-color: #fff;
}
#content .detail-content .main-wrapper .sale-attr ul li a span {
  position: relative;
  z-index: 2;
  padding-left: 1px;
  line-height: 25px;
  vertical-align: top;
}
#content .detail-content .main-wrapper .sale-attr .info {
  display: block;
  cursor: pointer;
  position: relative;
}
#content .detail-content .main-wrapper .sale-attr .info em {
  background: #ff8135;
  padding: 0 5px;
  color: #fff;
  border: 1px solid #66a600;
  margin: 0 5px 0 10px;
}
#content .detail-content .main-wrapper .sale-attr .info div {
  position: absolute;
  z-index: 9;
  right: 5px;
  top: 25px;
  padding: 10px 20px;
  border-radius: 3px;
  background: #fff;
  outline: 1px solid #e1e1e1;
  outline: 1px solid transparent;
  box-shadow: 0 0 3px #aaa;
}
#content .detail-content .main-wrapper .sale-attr .quantity-form {
  position: relative;
  overflow: hidden;
  height: 20px;
  border: 1px solid #cacbcb;
  margin-left: 10px;
}
#content .detail-content .main-wrapper .sale-attr .quantity-form a {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  padding: 1px 0;
  width: 16px;
  text-align: center;
  color: #666;
  margin: 0;
  background: #fff;
  float: left;
}
#content .detail-content .main-wrapper .sale-attr .quantity-form input {
  width: 44px;
  height: 22px;
  float: left;
  text-align: center;
  background: white;
  outline: none;
  border: none;
}
#content .detail-content .main-wrapper .sale-attr .quantity-form .quantity-down {
  border-right: 1px solid #cacbcb;
}
#content .detail-content .main-wrapper .sale-attr .quantity-form .quantity-add {
  border-left: 1px solid #cacbcb;
}
#content .detail-content .main-wrapper .sale-attr .view-buy {
  width: 542px;
  height: 48px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #333333;
}
#content .detail-content .main-wrapper .sale-attr .view-buy .view-left {
  width: 271px;
  position: relative;
}
#content .detail-content .main-wrapper .sale-attr .view-buy .view-left .btn {
  display: block;
  width: 148px;
  height: 48px;
  border: 1px solid #ff4965;
  border-radius: 4px;
  background: #ff4965;
  position: absolute;
  right: 10px;
  color: #FFFFFF;
}
#content .detail-content .main-wrapper .sale-attr .view-buy .view-left .price-wrap {
  display: block;
  font-size: 24px;
  width: 148px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
#content .detail-content .main-wrapper .sale-attr .view-buy .view-left .price-wrap i, #content .detail-content .main-wrapper .sale-attr .view-buy .view-left .price-wrap em {
  font-size: 14px;
}
#content .detail-content .main-wrapper .sale-attr .view-buy .view-left .ddgm {
  display: block;
  width: 148px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
#content .detail-content .main-wrapper .sale-attr .view-buy .view-right {
  float: right;
  width: 271px;
  height: 48px;
}
#content .detail-content .main-wrapper .sale-attr .view-buy .view-right a:hover .xz-area {
  display: block;
}
#content .detail-content .main-wrapper .sale-attr .view-buy .view-right .xz-area {
  display: none;
  width: 140px;
  height: 140px;
  padding: 5px;
  border: 1px solid #ff4965;
}
#content .detail-content .main-wrapper .sale-attr .view-buy .view-right span {
  display: block;
  width: 148px;
  height: 48px;
  font-size: 18px;
  color: #ff4965;
  line-height: 48px;
  border: 1px solid #ff4965;
  border-radius: 4px;
  text-align: center;
}
#content .detail-content .main-wrapper .sale-attr .view-buy .view-right i {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: red;
  background: url(../img/c2461d9939eeb23c_24x20.png) no-repeat;
  vertical-align: middle;
}
#content .detail-content .main-wrapper .sale-attr .count-down {
  margin-left: 105px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color: #666666;
}

/*底部*/
body {
  font-size: 12px;
}

.footer-nav {
  text-align: center;
  border-top: 3px solid #ff5482;
  background: #555;
  padding: 10px 0;
  color: #ddd;
}
.footer-nav a {
  color: #ddd;
  margin: 0 10px;
}
.footer-nav a:hover {
  color: #fff;
}

.footer-content {
  background: #fff;
  padding: 20px 0 40px;
  color: #999;
}
.footer-content p {
  text-align: center;
}
.footer-content .mt-20 {
  margin-top: 20px;
  text-align: center;
}
.footer-content .mt-20 a {
  padding-right: 10px;
}

/*# sourceMappingURL=details.css.map */
