@charset "UTF-8";
body {
  background: #fff;
}

div, img, h1 {
  padding: 0;
  margin: 0;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.m-15 {
  margin-top: 15px;
}

.p-color {
  color: #ff4965;
}

.wrapper {
  width: 1080px;
  margin: 0 auto;
}
.wrapper:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/*头部*/
.header {
  padding-top: 45px;
}
.header .logo {
  float: left;
}
.header .logo a {
  display: block;
  background: url(../img/logo.png) no-repeat;
  height: 60px;
  position: relative;
  width: 250px;
}
.header .f-right a {
  float: right;
  display: block;
  background: url(../img/upload_d96e41a66c898b1e6afef9efbfbdc1be_361x54.png) 0 3px no-repeat;
  height: 50px;
  position: relative;
  width: 360px;
}

a {
  text-decoration: none;
}

.content {
  padding: 110px 0;
  /*左侧内容区*/
  /*右侧输入区域*/
}
.content .content-left {
  float: left;
  padding-left: 50px;
}
.content .content-right {
  font-size: 12px;
  color: #666;
  width: 400px;
  border: 1px solid #ececec;
  border-top: 2px solid #ff4965;
}
.content .content-right .form-style {
  padding: 50px 35px;
}
.content .content-right .login-title {
  font-size: 12px;
  color: #000;
  margin-bottom: 30px;
}
.content .content-right .login-title .login {
  font-size: 14px;
  font-weight: 700;
}
.content .content-right .login-title .register {
  font-weight: 400;
}
.content .content-right .login-content {
  font-size: 12px;
}
.content .content-right .login-content .tel {
  display: block;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  padding-left: 30px;
  position: relative;
}
.content .content-right .login-content .tel .touxiang {
  position: absolute;
  left: 8px;
  top: 8px;
  border-right: 1px solid #e6e6e6;
  padding-right: 7px;
  background: url(../img/upload_c8f6a2dfe4ca17b3941740e88373a88e_14x93.jpg) no-repeat 0 0;
  width: 14px;
  height: 14px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}
.content .content-right .login-content .tel .telphone {
  height: 30px;
  font-size: 12px;
  width: 278px;
  color: #666;
  line-height: 30px;
  border: 0;
  outline: 0;
  padding: 0 10px;
}
.content .content-right .login-content .tel .touxiang {
  position: absolute;
  left: 8px;
  top: 8px;
  border-right: 1px solid #e6e6e6;
  padding-right: 7px;
}
.content .content-right .login-content .notice {
  height: 18px;
  line-height: 18px;
  margin-top: 8px;
  color: #fe4b49;
  font-size: 12px;
}
.content .content-right .login-content .passw {
  display: block;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  padding-left: 30px;
  position: relative;
}
.content .content-right .login-content .passw .mima {
  position: absolute;
  left: 8px;
  top: 8px;
  border-right: 1px solid #e6e6e6;
  padding-right: 7px;
  background: url(../img/upload_c8f6a2dfe4ca17b3941740e88373a88e_14x93.jpg) no-repeat 0 -47px;
  width: 14px;
  height: 14px;
  line-height: 30px;
  text-align: center;
}
.content .content-right .login-content .passw .passlock {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 8px;
  width: 14px;
  height: 14px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: url(../img/upload_c8f6a2dfe4ca17b3941740e88373a88e_14x93.jpg) no-repeat 0 -66px;
}
.content .content-right .login-content .passw .passlock:visited {
  background: url(../img/upload_c8f6a2dfe4ca17b3941740e88373a88e_14x93.jpg) no-repeat 0 -83px;
}
.content .content-right .login-content .passw .mima {
  position: absolute;
  left: 8px;
  top: 8px;
  border-right: 1px solid #e6e6e6;
  padding-right: 7px;
}
.content .content-right .login-content .passw .password {
  height: 30px;
  font-size: 12px;
  width: 278px;
  color: #666;
  line-height: 30px;
  border: 0;
  outline: 0;
  padding: 0 10px;
}
.content .content-right .slide {
  width: 278px;
  height: 30px;
}
.content .content-right .login-btn input {
  text-decoration: none;
  color: #fff;
  background: #ff4965;
  display: block;
  width: 330px;
  height: 32px;
  line-height: 32px;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 6px;
  outline: none;
  border: none;
}
.content .content-right .quicklogin {
  height: 24px;
  line-height: 24px;
}
.content .content-right .quicklogin a {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 4px;
}
.content .content-right .quicklogin .bgqq {
  background: url(../img/764d876bb3aa326726486d71ee891b66_173x24.png) no-repeat 1px 0;
}
.content .content-right .quicklogin .bgweixing {
  background: url(../img/764d876bb3aa326726486d71ee891b66_173x24.png) no-repeat -119px 0;
}

body {
  font-size: 12px;
}

.footer-nav {
  text-align: center;
  border-top: 3px solid #ff5482;
  background: #555;
  padding: 10px 0;
  color: #ddd;
}
.footer-nav a {
  color: #ddd;
  margin: 0 10px;
}
.footer-nav a:hover {
  color: #fff;
}

.footer-content {
  background: #fff;
  padding: 20px 0 40px;
  color: #999;
}
.footer-content p {
  text-align: center;
}
.footer-content .mt-20 {
  margin-top: 20px;
  text-align: center;
}
.footer-content .mt-20 a {
  padding-right: 10px;
}

/*# sourceMappingURL=register.css.map */
